
body{
    margin: 0;
    padding: 0;
}
#navBar{
   display: flex;
   justify-content: space-between;
   background-color: aquamarine;
   /* height: 70px;   */
}
#navLogo img{
      margin-top: 15px;
      margin-left: 10px;
}
#navLogo i{
    position: absolute;
    top: 22px;
    font-size: 20px;
    font-weight: 900;
    color:darkblue ;
}
.menu ul{
    display: flex;
    list-style-type: none;

}
.menu ul li {
    padding: 7px;
}

.menu ul li a{
    text-decoration: none;
    padding: 9px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    
    
}
.menu ul li :hover{
    transition: 2s;
    font-size: 19px;
    color: red; 
    
    
}

.dropDownItem a{
    display: none ;
    color: rgb(180, 240, 16);
}
.dropDownItem{
     position: absolute;
}
.dropDownContainer:hover .dropDownItem a{
    display: block;
    background-color:bisque;
    margin: 10px;
    border-radius: 15px;
    width: 100px;
    color: black;
}



#lastOnNav{
    display: flex;
}
#themesBtn{
    position: absolute;
    display: flex;
    top: 24px;
    right: 76px;
    
}
#barLogo{
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 20px;
    color: red;
    display: none;
}
#darkBtn{
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 5px;

}
#lightBtn{
    background-color: white;
    border: none;
    border-radius: 7px;
    display: none;
    padding: 5px;
}

#container{
    margin-top: 30px;
    margin: 20px;
    display: flex;
    justify-content: space-around; 
}
.item span{
    color: blue;
    font-style: italic;
    font-size: 40px;
}

#container #item1{
    margin-top: 7vw;
    margin-left: 5vw;
    background-color: aquamarine;
    max-width: 400px;
    max-height: 310px;
    min-height: 300px;
    overflow: hidden;
}
#item1 button{
    border: none;
    padding: 8px  12px;
    border-radius: 18px;
    color:white;
    font-size: 15px;
    font-weight: 700;
    background-color:darkred;
}
#container #item2{
    margin-top: 40px;

    background-color: aqua;
    max-width:40vw;
    max-height: 28vw;
    overflow: hidden;
    padding-top:2vw;

}
#item2 img{
    width: 45vw;
    width: 45vw;
}
#gmail{
    font-size: 18px;
    color: blue;
    display: none;
}
#item1 button:hover~#gmail{
    display: block;
    font-size: 20px;
}
#item1 button:hover{
    font-size: 17px ;
}
#item2 img{
    position: relative;
    bottom: 110px;
    right: 105px;
}



#container1{
    display: flex;
    justify-content: space-around;
}
#item3{
    /* background-color: aqua; */
    max-width: 500px;
    max-height: 400px;
    overflow: hidden;
    margin-top: -40px;
    margin-right: 120px;
}
#item4{
    /* background-color: aquamarine; */
    max-width: 400px;
    max-height: 300px;
    overflow: hidden;
    margin-top: 130px;
    margin-right: 160px;

}
#item4 p{
    color: black;
    text-align:start;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;

}
#item4 h3 a{
    color: green;
    text-decoration: none;
    color:rebeccapurple;
    font-style: italic;
}
#item4 h3 a:active{
    color: red;
}
#item4 h3{
    color: royalblue;
    text-align:start;

}
